RK_device_platform: RK1808
model_framework: tflite
model_file_path: ./mnasnet_1.0_224.tflite
quantize: True
pre_compile: off
dataset: ./dataset.txt

graph:
  in_0:
    name: input
    shape: 1,224,224,3
    mean_values: 128
    std_values: 128
    img_type: BGR
  out_0:
    name: output

configs:
  quantized_dtype: asymmetric_quantized-u8
  quantized_algorithm: normal
  optimization_level: 3
  do_sparse_network: True
