*.rknn
*.pt
*.torchscript
*.onnx
*.log
*.pyc
*.zip
*.npy
*.pkl
*.pb

check*.onnx

# ignore the following folder name
build
install

datasets/COCO/annotations/*
datasets/COCO/val2017/*

breakpoint_output/

models/CV/body_analysis/
models/CV/classification/
models/CV/image_segmentation/
tmp/

dump_data_distribute/
snapshot/
snapshot*/

# ignore file
models/CV/object_detection/yolo/RKNN_python_demo/*.json
capi_tools/internal/fixed_frequency_android.sh
capi_tools/internal/fixed_frequency.sh
common/onnx_breakpoint_tools.py
report.yml

developer_conference/
internal_data/
.vscode/
model_cvt
datasets/COCO/try_load.py
common/utils/run_and_gen_result.py
common/utils/update_driver.py
result/
*DS_Store*


# for unittest
unittest/example_test_result
unittest/env_config.py
